* {
	color: #F8F8F8;
}

html, body {
	background-color: #080808;
	height: 100%;
}

table {
	margin: auto;
	width: 90vw;
	height: inherit;
}

table, tr, td, th {
	border: 2px solid #F8F8F8;
	border-collapse: collapse;
}

td, th, tr{
	text-align: center;
	height: inherit;
	font-size: calc(90vw / 7 / 2);
}

.highlight_kana:hover {
	color: #080808;
	background-color: #F8F8F8;
}

th {
	font-size: calc(90vw / 7 / 3);
}

.kana_flex {
	/*display: grid;
	margin: auto;*/
	height: calc(90vw / 7 * 12);
}
