#root {
	text-align: center;
	background-color: #080808;
}

#root #kana_symbol {
	margin: auto;
	border: 2px solid #F8F8F8;
	width: 30vw;
	height: 30vw;
	font-size: 20vw;
}

#root form * {
	background-color: #080808;
	margin: 8px;
}

#root ul {
	padding: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	list-style-type: none;
	list-style-position: inside;
}

#root li {
	text-align: center;
	align-content: center;
	width: 20%;
	margin: 8px 4px;
	border: 2px solid #F8F8F8;
	padding: 1em;
}

#root li:hover {
	color: #080808;
	background-color: #F8F8F8;
}

span {
	display: block;
	margin: auto;
}

#perc {
	font-size: 2em;
}

#reset_button {
	border: 2px solid #F8F8F8;
	width: 50%;
	height: 4em;
	margin: 8px auto;
	line-height: 4em;
}

#reset_button:hover {
	background-color: #F8F8F8;
	color: #080808;
}

@media screen and (orientation: portrait) {
	#root #kana_symbol {
		width: 70vw;
		height: 70vw;
		font-size: 50vw;
	}

	#root ul {
		flex-direction: column;
	}

	#root li {
		width: 70vw;
	}
}
